
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

.titulo-destaque{
  color: #fd2222;
}


  .github {
    font-family: arial;
  color: #ffffff ;
  font-size: 14px;
  text-shadow: 1px 1px 0px #de7c7c;
  box-shadow: 1px 1px 1px #f9bebe;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #a33838;
  background: #ee6363;
  background: linear-gradient(to top, #ee6363, #cf4646);
    
  }
  .instagram {
    
    font-family: arial;
  color: #ffffff ;
  font-size: 14px;
  text-shadow: 1px 1px 0px #de7c7c;
  box-shadow: 1px 1px 1px #f9bebe;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #a33838;
  background: #ee6363;
  background: linear-gradient(to top, #ee6363, #cf4646);
  }