@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.foto {
    width: 30%;
    height: auto;
    border: 3px  solid #22D4FD;
    border-radius: 10%;
    
    
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao{
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    
}
  .qualidade {
    color: #22D4FD
  }

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    
}

.apresentacao__links{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 40px;
}

.github {
  
  font-family: 'Krona One';
  color: #ffffff;
  font-size: 14px;
  text-shadow: 1px 1px 0px #22d5fd;
  box-shadow: 1px 1px 1px #00d0ff79 ;
  padding: 10px 43.725px;
  border-radius: 10px;
  border: 2px solid #1e4e59;
  background: #22D4FD;
  background: linear-gradient(to top, #22d5fd63, #22D4FD);
  
} 
  
.instagram {
  
  font-family: 'Krona One';
  color: #ffffff;
  font-size: 14px;
  text-shadow: 1px 1px 0px #22d5fd;
  box-shadow: 1px 1px 1px #02495979 ;
  padding: 10px 28px;
  border-radius: 10px;
  border: 2px solid #1e4e59;
  background: #22D4FD;
  background: linear-gradient(to top, #22d5fd63, #22D4FD);
}